.special {
    background-color: rgb(222, 68, 112);
    border: dashed 30px rgb(255, 255, 255);
    color: rgb(143, 69, 81);
    font-weight: bold;
}
#challenges {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #f5b3ce;
  }
#problems {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #f5b3ce;
  }
#results {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #f5b3ce;
  }
